html{
  height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background: rgb(237, 255, 255);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    margin-top: 10px;
    width: 100%;
    border: 2px solid rgb(237, 255, 255);

  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid rgb(237, 255, 255);
  }
  
  
  .description {
    font-family: 'Roboto';
    font-weight: 600;
    color: #333;
    width: 100%;
    text-align: start;
  }
  
  span {
    font-style: italic;
  }
  
  .social-links {
    text-align: center;
  }
  
  .social-link {
    text-decoration: none;
    color: #4CAF50;
    font-size: 20px;
    display: inline-block;
    margin: 10px 0;
    transition: color 0.3s ease;
    padding-left: 10px;
  }
  
  .social-link i {
    margin-right: 8px;
    font-weight: 500px;
  }
  
  .social-link:hover {
    color: rgb(194, 190, 190);
  }
  h2 { 
    color: #e08e12;
  }

  .contact-links {
    text-align: center;
    margin-bottom: 50px;
  }

  .contact-link {
    text-decoration: none;
    color: #4CAF50;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    transition: color 0.3s ease;
    padding-left: 10px;
  }
  
  .contact-link i {
    margin-right: 8px;
    font-weight: 500px;
  }
  
  .contact-link:hover {
    color: rgb(194, 190, 190);
  }

  .footer {
    text-align: center;
    background-color: rgb(237, 255, 255);
    color: #1d1b1b;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #e08e12;
  }

  @media (max-width: 720px) and (max-height: 1612px) {
    body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto';
      background: rgb(237, 255, 255);
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100%;
      width: 100%;
    }
    
    .container {
      text-align: center;
      padding: 20px;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
    
    .image-container {
      margin-top: 10px;
      width: 100%;
      border: 2px solid rgb(237, 255, 255);
  
    }
    
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 0px solid #e08e12;
    }
    
    
    .description p{
      font-family: 'Roboto';
      font-weight: 600;
      color: #333;
      width: 100%;
      text-align: start;
      font-size: 15px;
    }

    .description h2 {
      text-align: center;
    }
    
    span {
      font-style: italic;
    }
    
    .social-links {
      text-align: center;
    }
    
    .social-link {
      text-decoration: none;
      color: #4CAF50;
      font-size: 12px;
      display: inline-block;
      margin: 10px 0;
      transition: color 0.3s ease;
      padding-left: 10px;
    }
    
    .social-link i {
      margin-right: 8px;
      font-weight: 500px;
    }
    
    .social-link:hover {
      color: rgb(194, 190, 190);
    }
    h2 { 
      color: #e08e12;
      font-size: 20px;
    }
  
    .contact-links {
      text-align: center;
      margin-bottom: 50px;
    }
  
    .contact-link {
      text-decoration: none;
      color: #4CAF50;
      font-size: 15px;
      display: block;
      margin: 10px 0;
      transition: color 0.3s ease;
      padding-left: 10px;
    }
    
    .contact-link i {
      margin-right: 8px;
      font-weight: 500px;
    }
    
    .contact-link:hover {
      color: rgb(194, 190, 190);
    }
  
    .footer {
      text-align: center;
      background-color: rgb(237, 255, 255);
      color: #1d1b1b;
      padding: 10px 0;
      width: 100%;
      border-top: 1px solid #e08e12;
    }

  }
  

  

  
  
